@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

@layer base {
  :root {
    --background: #fff; /* bgColor */
    --foreground: #000000; /* textPrimaryColor */
    --card: #fff; /* bgColor */
    --card-foreground: #000000; /* textPrimaryColor */
    --popover: #fff; /* bgColor */
    --popover-foreground: #000000; /* textPrimaryColor */
    --primary: #fe9900; /* primaryColor */
    --primary-foreground: #fff; /* light */
    --secondary: #f4f7fe; /* secondaryColor */
    --secondary-foreground: #000000; /* textPrimaryColor */
    --muted: #f4f7fe; /* secondaryColor */
    --muted-foreground: #a3aed0; /* textSecondaryColor */
    --accent: #f4f7fe; /* secondaryColor */
    --accent-foreground: #000000; /* textPrimaryColor */
    --destructive: rgba(217, 21, 21, 1); /* danger */
    --destructive-foreground: #fff; /* light */
    --border: #d1d1d1; /* borderColor */
    --input: #f4f7fe; /* secondaryColor */
    --ring: #fe9900; /* primaryColor */
    --radius: 0.5rem;
    --chart-1: #e59819; /* star */
    --chart-2: rgba(0, 61, 50, 1); /* success */
    --chart-3: rgba(217, 21, 21, 1); /* danger */
    --chart-4: rgba(255, 234, 148, 1); /* warning */
    --chart-5: #e6edf5; /* info */
  }

  .dark {
    --background: #000000; /* dark */
    --foreground: #fff; /* light */
    --card: #000000; /* dark */
    --card-foreground: #fff; /* light */
    --popover: #000000; /* dark */
    --popover-foreground: #fff; /* light */
    --primary: #fe9900; /* primaryColor */
    --primary-foreground: #000000; /* dark */
    --secondary: #000000; /* textPrimaryColor */
    --secondary-foreground: #fff; /* light */
    --muted: #000000; /* textPrimaryColor */
    --muted-foreground: #878b93; /* textSecondaryColor */
    --accent: #000000; /* textPrimaryColor */
    --accent-foreground: #fff; /* light */
    --destructive: rgba(217, 21, 21, 1); /* danger */
    --destructive-foreground: #fff; /* light */
    --border: #d1d1d1; /* borderColor */
    --input: #000000; /* textPrimaryColor */
    --ring: #fe9900; /* primaryColor */
    --chart-1: #e59819; /* star */
    --chart-2: rgba(0, 61, 50, 1); /* success */
    --chart-3: rgba(217, 21, 21, 1); /* danger */
    --chart-4: rgba(255, 234, 148, 1); /* warning */
    --chart-5: #e6edf5; /* info */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.stsearch-box input {
  padding: 1.5px !important;
  border: 0px solid #fff !important;
}
